<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.hardproblem.dao.ExFoodMapper">
    <select id="selectAll" resultType="live.hardproblem.dao.entity.Food">
        select *
        from food
        <where>
            <if test="!all">
                and status = true
            </if>
        </where>
        limit #{start}, #{end}
    </select>
    <select id="getAllId" resultType="java.lang.Integer">
        select id
        from food
        <where>
            <if test="!all">
                and status = true
            </if>
        </where>
    </select>
    <select id="selectInFoodList" resultType="live.hardproblem.dao.entity.Food">
        select *
        from food
        <where>
            <if test="!all">
                and status = true
            </if>
            <choose>
                <when test="foodIdList != null and foodIdList.size() > 0">
                    and id in
                    <foreach collection="foodIdList" item="foodId" open="(" close=")" separator=",">
                        #{foodId}
                    </foreach>
                </when>
                <otherwise>
                    and false
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="removeById" resultType="java.lang.Integer">
        update food
        set status=false
        <where>
            id=#{id}
        </where>
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from food
        <where>
            <if test="!all">
                and status=true
            </if>
        </where>
    </select>
    <select id="selectFoodByPrefix" resultType="live.hardproblem.dao.entity.Food">
        select *
        from food
        <where>
            <if test="!all">
                and status=true
            </if>
            and name like concat(#{prefix},'%')
        </where>
    </select>
</mapper>