<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.hardproblem.dao.ExMenuFoodMapper">
    <select id="selectFoodIdByMenuId" resultType="java.lang.Integer">
        select food_id
        from menu_food
        where menu_id=#{id}
    </select>
    <select id="getFoodByMenuId" resultType="live.hardproblem.dao.entity.Food">
        select *
        from food,menu_food
        <where>
            <if test="!all">
                and food.status=true
                and menu_food.status=true
            </if>
            and food.id=menu_food.food_id
            and menu_food.menu_id=#{menuId}
        </where>
    </select>
    <delete id="deleteAFoodByMenuIdAndFoodId" parameterType="live.hardproblem.dao.entity.MenuFood">
        delete from menu_food
        where
            menu_id=#{menuId}
            and food_id=#{foodId}
        limit 1
    </delete>

    <select id="getFoodIdByMenuId" resultType="java.lang.Integer">
        select menu_food.food_id
        from menu_food
        <where>
            <if test="!all">
                and menu_food.status=true
            </if>
            and menu_food.menu_id=#{menuId}
        </where>
    </select>

    <select id="deleteFoodByFoodId" resultType="java.lang.Integer">
        delete from menu_food
        <where>
            food_id=#{foodId}
        </where>
    </select>
</mapper>