<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.hardproblem.dao.ExTagMapper">
    <select id="getAll" resultType="live.hardproblem.dao.entity.Tag">
        select *
        from tag
        <where>
            <if test="all != true">
                and status=true
            </if>
        </where>
    </select>
</mapper>